*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* commom */
.clear{
    clear: both;
 }
.row{
   display: flex;
   margin-left:-8px;
   margin-right:-8px;
}
.row::after{
   content: "";
   display: block;
   clear: both;
}
.colum{
    padding: 0 8px;
    
}
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-block-end: 16px;
    background-color: black;
    color: white;
    border: none;
}

.btn:hover{
    cursor: pointer;
    background-color:  #CCCCCC;
}

#main{
 display: block;
}
/* ---------------- */
#header{
  display: flex;
  background-color: black;
  height: 46px;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
}
#nav{
   display:flex ;
   
}
/* thẻ con f1 f2 ... */
#nav li{
   list-style: none;
   position: relative;
}
 /* thẻ con f1 */
#nav >li{
 display: block;
}
#nav li:hover >a{
    background-color: #CCCCCC;
    color: black;
}
#nav > li >a {
 color:white;
 padding:12px 24px;
 line-height: 46px;
 font-variant: small-caps;
}
#nav li a{
   text-decoration: none;
   font-size: 18px;
}
#nav li a ion-icon{
    margin-bottom: -3px;
    font-size: 16px;
}
#nav .subnav{
    position: absolute;
    display: none;
    background-color: white;
    color:black
}
.subnav a{
    display: block;
    padding: 0px 24px;
    line-height: 40px;
    color: black;
}
#nav li:hover .subnav{
    display: block;
}
.header-menu,
.header-search{
     min-width: 60px;
     height: 46px;
     float: right;
     display: none;
}
.header-menu:hover,
.header-search:hover{
     cursor: pointer;
}
.header-menu ion-icon:hover, 
.header-menu:hover{
  background-color: #CCCCCC;
  color: black;
}
.header-menu ion-icon,
.header-search ion-icon{
    float:right;
    text-decoration: none;
    font-size: 20px;
    padding: 13px 24px;
    color: white;
}
.header-search:hover{
    background-color: #F44336;
}
.slider{
   position: relative;
   margin-top:46px;
   padding-top: 50%;
   background-color: antiquewhite;
   background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}
.text-content{
   color: white;
   bottom: 46px;
   width: 100%;
}
.slider .text-content{
    position: absolute;
}
.text-heading,
.description{
   text-align: center;
}

#content {
    width: 100%;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top:64px ;
    font-size: 15px;
}

.section-heading{
    padding: 10px 0;
    text-align: center;
    font-weight: 400;
    letter-spacing:4px;
}
.section-sub-heading{
    padding:16px 0;
    text-align: center;
    font-style: italic;
    color: #646464;
}

#content .content-text{
     padding: 15px 0;
     text-align: justify;
     line-height: 1.4;
}
#content .member-list{
    max-width: 100%;
    padding: 32px 0;
}

#content .member-item{
    width: 33.333333%;

    text-align: center;
    float: left;
}
#content .member-name{
    padding: 15px 0;
} 
#content .member-img{
    max-width: 100%;
    border-radius: 3px;
}

.tour-section{
 background-color: black;
}
.tour-section .section-heading{
    color: white;
}

.tour-consists{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-width: 100%;
    padding: 64px 16px;
    font-size: 15px;
}
.tour-list{
 background-color: white;
 list-style: none;
}

.tour-item{
    padding: 10px 16px;  
    color: #757575;
    border-bottom:1px solid #ddd;
}

.Sold-out{
    margin-left: 16px;
    padding: 3px 8px;
    color: white;
    background-color: #F44336;
}
.tour-item .quantity{
    padding: 2px 8px;
    float: right;
    color: white;
    width: 24px;
    height: 22px;
    background-color:black;
    border-radius:50%;
}
.tour-place{
    display: flex;
    margin-top: 32px ;
    background-color: black;
}
.place{
    width: 33.33333%;
}
.place-img{
    display: block;
    width: 100%;
}
.place-img:hover{ 
    opacity: 0.6;
}
.place-body{
    display: inline-block;
    background-color: white;
}
.place-info{
    font-size: 15px;
    padding:0px 16px;
}
.place-title{
   margin-top: 15px;
   font-size: 15px;
   font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #656565;
}

.place-describes{
    margin: 15px 0;
    line-height: 1.4;
}


.contact-item{
  display: flex;
}

.contact{
   background-color: white;
}

.tour-contact{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}


.tour-contact .section-heading{
    margin-top: 32px;
    color: black;
}
.contact-info{
    padding: 32px 0;
}
.contact-index{
    list-style: none;
    width: calc(100% /2 );
}
.input-name{
   display: flex;
}
.contact-item{
  display: block;
  color: black;
  font-size: 18px;
  line-height: 26px;
}
.contact-item ion-icon{
     width: 30px;
     margin-top: 3px;
}
.input-half,
.input-form{
     padding: 8px;
     width: 100%;
}
.input-form{
   font-size: inherit;
   border: 1px solid #ccc;
}
.input-send{
      float: right;
      margin: 16px 0;
}

.input-form-send:hover{
    background-color: #cccccc;
}
.tour-area{
    padding-top: 50%;
    background-color: antiquewhite;
    background: url('/w3_band/assets/img/slider/map.jpg') top center / cover no-repeat;
}
.tour-footer{
    padding: 64px 0;
}

.footer-logo{
    text-align: center;
    color: #656565;
    font-size:26px
}
.powered-link,
.footer-logo a,
.footer-powered{
    text-align: center;
    color:#656565;
}

.footer-powered{
    margin: 15px 0;
}
.footer-logo a{
    text-decoration: none;
}
.footer-logo ion-icon:hover{
      opacity: 0.6;
}